.category-box {
    background-color: var(--red-color);
    padding: 4rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-column-gap: 3.2rem;
    grid-row-gap: 6.2rem;
}

.product {}

.product:hover .product__image {
    transform: scale(1.025);
}

.product__image-container {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}


.product__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    will-change: transform;
    transition: transform .25s ease-out;
    transform: scale(1);
}

.heading-width,
.wp-block-group:nth-of-type(1),
.wp-block-group:nth-of-type(2),
.wp-block-group:nth-of-type(3) {
    max-width: 1000px;
    margin: 0 auto;
}

.heading-margin {
    padding: 0 0 20px 25px;
}
