.category-box {
    background-color: var(--red-color);
    padding: 4rem;
    min-height: 275px;
}

.category-box__description {
    max-width: 600px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 3.2rem;
    grid-row-gap: 6.2rem;
}

.product {}

.product:hover .product__image {
    transform: scale(1.025);
}

.product__image-container {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}


.product__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    will-change: transform;
    transition: transform .25s ease-out;
    transform: scale(1);
}

.wp-block-group:nth-of-type(1),
.wp-block-group:nth-of-type(2),
.wp-block-group:nth-of-type(3) {
    max-width: 1000px;
    margin: 0 auto;
}

.heading-margin {
    padding: 0 0 20px 25px;
}

/* Colorblock */

.grid-container {
    display: grid;
    grid-gap: 3rem;
    margin-bottom: var(--space-md);
}

.grid-container img {
    object-fit: cover;
    height: 100%;
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid_txt_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    /*
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
*/

    background-color: var(--cta-primary-background-color);
}

.grid_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid_txt h2 {
    font-size: 3rem;
    color: white;
}

.grid_txt p {
    text-align: center;
    color: white;
    font-weight: var(--font-weight-regular);
}

@media only screen and (min-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .grid_txt_container {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }


    .grid_gallery_img1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grid_gallery_img2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }


}

@media only screen and (min-width: 1020px) {

    .grid_txt_container {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid_gallery_img1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }



    .grid_gallery_img2 {

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.product__name,
.product__category-link,
.product__price-text {
    padding-left: 1rem;
    word-wrap: break-word;
    max-width: 330px;
}

.product__name {
    font-size: 2.5rem;
}

.button-clicked h3 {
    font-weight: 400;
}

.button-clicked img {
    background-color: var(--blue-color);
}

@media only screen and (min-width: 400px) {
    .container_products {
        max-width: 1200px;
        padding-left: 3rem;
        padding-right: 3rem;
        margin: 0 auto;
    }

    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 6rem;
    }

    .product__name,
    .product__category-link,
    .product__price-text {
        padding-left: 0rem;
        word-wrap: initial;
    }
}

@media only screen and (min-width: 500px) {
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 6rem;
    }

}

@media only screen and (min-width: 570px) {
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-column-gap: 4rem;
        grid-row-gap: 6rem;
    }

}

@media only screen and (min-width: 600px) {
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 4rem;
        grid-row-gap: 7rem;
    }

    .product__name {
        font-size: 3.5rem;
    }

    .product__category-link .product__price-text {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 800px) {
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 4rem;
        grid-row-gap: 7rem;
    }

}

@media only screen and (min-width: 1160px) {
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 5rem;
        grid-row-gap: 7rem
    }

}
