*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*    Nulstiller fontsize, så den er 10px. Dermed kan vi bruge rem til lettere at definere fontstørrelse */
    font-size: 62.5%;
}

:root {
    /*    Font families */
    --font-family-playfair: 'Playfair Display', serif;
    --font-family-roboto: 'Roboto', sans-serif;

    /*    Font sizes  */
    --h1-font-size: 4.6rem;
    --h2-font-size: 3.9rem;
    --h3-font-size: 3.5rem;
    --h4-font-size: 3rem;
    --h5-font-size: 2.6rem;
    --h6-font-size: 2.1rem;
    --p-font-size: 1.5rem;
    --citat-font-size: 1.7rem;
    --a-font-size: 1.7rem;
    --cta-text-font-size: 1.7rem;


    /*    Font colors  */
    --h1-font-color: #000000;
    --h2-font-color: #000000;
    --h3-font-color: #000000;
    --h4-font-color: #000000;
    --h5-font-color: #000000;
    --h6-font-color: #000000;
    --p-font-color: #000000;
    --citat-font-color: #000000;
    /*    --a-font-color: #5788f5;*/
    --a-font-color-hover: #3B3635;
    --cta-primary-text-font-color: #ffffff;
    --cta-primary-text-font-color-hover: #847673;
    --cta-secondary-text-font-color: #ffffff;
    --cta-secondary-text-font-color-hover: #3B3635;


    /*    Font lineheight */
    --h1-font-line-height: 1.2;
    --h2-font-line-height: 1.6;
    --h3-font-line-height: 1.6;
    --h4-font-line-height: 1.6;
    --h5-font-line-height: 1.6;
    --h6-font-line-height: 1.6;
    --p-font-line-height: 1.7;
    --citat-font-line-height: 1.6;

    /*    Font weights  */
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-thin: 100;


    /*    Farver */
    --red-color: #FFE4E4;
    --blue-color: #EEF6FB;
    --green-color: #ECFBE5;
    --yellow-color: #FFFDE6;
    --body-color: #fff;
    --main-color: #ffffff;

    /*    CTA knapper*/
    /*        Primære knapper*/
    --cta-primary-background-color: #3B3635;
    --cta-primary-border-radius: 2px;
    --cta-primary-box-shadow: 1.5px 1.5px 3px rgba(59, 54, 53, 0.22);
    /*             Denne padding skal jo nok overskrives nogle steder med noget mindre */
    --cta-primary-padding: 10px;


    /*        Sekundære knapper*/
    --cta-secondary-background-color: rgba(255, 255, 255, 0);
    --cta-secondary-border: 2px solid #fff;
    --cta-secondary-border-radius: 2px;
    --cta-secondary-box-shadow: 1.5px 1.5px 3px rgba(16, 31, 72, 0.22);
    /*             Denne padding skal jo nok overskrives nogle steder med noget mindre */
    --cta-secondary-padding: 10px;


    --space-sm: 1.5rem;
    --space-md: 3rem;
    --space-lg: 6rem;
    --space-xl: 9rem;
}

@media only screen and (min-width: 700px) {
    :root {
        /*    Font sizes  */
        --h1-font-size: 6rem;
        --h2-font-size: 5rem;
        --h3-font-size: 3.5rem;
        --h4-font-size: 3rem;
        --h5-font-size: 2.6rem;
        --h6-font-size: 2.1rem;
        --p-font-size: 1.6rem;
        --citat-font-size: 1.7rem;
        --a-font-size: 1.7rem;
        --cta-text-font-size: 1.7rem;
    }
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

/* til tests */
.cube {
    width: 80px;
    height: 80px;
}

.red {
    background-color: var(--red-color);
}

.blue {
    background-color: var(--blue-color);
}

.green {
    background-color: var(--green-color);
}

.yellow {
    background-color: var(--yellow-color);
}


/********************STYLETILE********************/
body {
    background-color: var(--body-color);
}

main {
    background-color: var(--main-color);
}


/* Style tile til tekst og knapper */
h1 {
    font-family: var(--font-family-playfair);
    font-weight: var(--font-weight-regular);
    font-size: var(--h1-font-size);
    line-height: var(--h1-font-line-height);
    color: var(--h1-font-color);
    margin-bottom: 15px;
}

h2 {
    font-family: var(--font-family-playfair);
    font-weight: var(--font-weight-regular);
    font-size: var(--h2-font-size);
    line-height: var(--h1-font-line-height);
    color: var(--h2-font-color);
    margin-bottom: 10px;
}

h3 {
    font-family: var(--font-family-playfair);
    font-weight: var(--font-weight-regular);
    font-size: var(--h3-font-size);
    line-height: var(--h3-font-line-height);
    color: var(--h3-font-color);
}

h4 {
    font-family: var(--font-family-playfair);
    font-weight: var(--font-weight-regular);
    font-size: var(--h4-font-size);
    line-height: var(--h4-font-line-height);
    color: var(--h4-font-color);
}

h5 {
    font-family: var(--font-family-playfair);
    font-weight: var(--font-weight-regular);
    font-size: var(--h5-font-size);
    line-height: var(--h5-font-line-height);
    color: var(--h5-font-color);
}

h6 {
    font-family: var(--font-family-playfair);
    font-weight: var(--font-weight-regular);
    font-size: var(--h6-font-size);
    line-height: var(--h6-font-line-height);
    color: var(--h6-font-color);
}

p {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--p-font-size);
    line-height: var(--p-font-line-height);
    color: var(--p-font-color);
}

.citation {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-regular);
    font-size: var(--citat-font-size);
    line-height: var(--citat-font-line-height);
    color: var(--citat-font-color);
    font-style: italic
}

a {
    font-family: var(--font-family-roboto);
    color: var(--a-font-color);
    font-weight: var(--font-weight-light);
    text-decoration: none;
    font-size: var(--a-font-size);
    line-height: var(--a-font-line-height);
}

a:hover {
    color: var(--a-font-color-hover);
}

.overpunkter_styling {
    font-family: var(--font-family-playfair);
    font-weight: var(--font-weight-regular);
    font-size: var(--h5-font-size);
    line-height: var(--h3-font-line-height);
    color: var(--h3-font-color);
    padding-right: 15px;
}

.underpunkt_styling {
    font-family: var(--font-family-roboto);
    color: var(--a-font-color);
    font-weight: var(--font-weight-light);
    text-decoration: none;
    font-size: 2rem;
    line-height: var(--a-font-line-height);

}

/*         Knapper */
.cta-primary {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 30px 20px 0px;
    cursor: pointer;

    background-color: var(--cta-primary-background-color);
    border-radius: var(--cta-primary-border-radius);
    box-shadow: var(--cta-primary-box-shadow);
    padding: var(--cta-primary-padding);
    border: none;

    /*    Tekst */
    font-family: var(--font-family-roboto);
    font-size: var(--cta-text-font-size);
    font-weight: var(--font-weight-light);
    color: var(--cta-primary-text-font-color);
    text-decoration: none;
}

.cta-primary:hover {
    color: var(--cta-primary-text-font-color-hover);
}

.cta-secondary {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 30px 20px 0px;
    cursor: pointer;

    background-color: var(--cta-secondary-background-color);
    border: var(--cta-secondary-border);
    border-radius: var(--cta-secondary-border-radius);
    box-shadow: var(--cta-secondary-box-shadow);
    padding: var(--cta-secondary-padding);

    /*    Tekst */
    font-family: var(--font-family-roboto);
    font-size: var(--cta-text-font-size);
    font-weight: var(--font-weight-light);
    color: var(--cta-secondary-text-font-color);
    text-decoration: none;
}

.cta-secondary:hover {
    color: var(--cta-secondary-text-font-color-hover);
}

.container {
    max-width: 1400px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

svg {
    display: block;
}


/********************HEADER********************/
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .125);
}

/*
.placering {
    margin-left: auto;
}
*/

.overpunkter,
.underpunkter {
    list-style-type: none;
}

.underpunkt_padding {
    padding: 5px 0 10px 20px;
}

.mobile_styling {
    padding: 5px 0 10px 15px;
}

.kurv {
    display: none;
}

.kurv_kom_frem {
    display: inline-block;
}

.height {
    height: 100vh;
}

.css_globalmenu {
    display: none;
    margin-top: 30px;
}

.css_header_mobile {
    display: flex;
    /*    justify-content: space-between;*/
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.css_header_logo {
    margin: 0 auto;
}

.css_header_logo_image {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}

.css_header_spacing {
    width: 31.5px;
}

.css_header_menu_cart_icon,
.header_burger_icon {
    color: black;
    cursor: pointer;
    vertical-align: middle;
    display: block;
    font-size: 4rem;
}

.css_header_burger_icon {
    cursor: pointer;
}

.css_header_menu_cart_icon svg {
    height: auto;
    width: 30px;
}

.header_burger_icon {
    margin-right: auto;
}


@media only screen and (min-width: 700px) {
    header {
        padding: 20px 0;
    }

    .css_header_mobile {
        width: 1000px;
    }

    .overpunkter {
        display: inline-block;
    }

    .dropdown {
        display: inline-block;
        position: relative;
    }

    .underpunkter {
        display: none;
        position: absolute;

        background-color: #fff;
        min-width: 150px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        padding: 20px 20px;

        z-index: 1;
        text-align: left;
    }

    .underpunkt_padding {
        padding: 5px 0 5px 10px;
    }

    .dropdown:hover .underpunkter {
        display: block;
    }

    .placering {
        display: flex;
        justify-content: flex-end;
    }

    .header_menu_width {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .css_header_burger_icon {
        display: none;
        font-size: 4rem;
        margin-left: 15px;
    }

    .css_globalmenu {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 0px;
    }

    .css_header_logo {
        /*        padding: 20px 0;*/
        margin: 0 0;
        /*        ! */
        display: block;
    }

    .css_header_logo_image {
        width: 80px;
    }

    .shop:hover {
        color: #c4e8ff;
    }

    .kontakt:hover {
        color: #f8b2b2;
    }

    .om:hover {
        color: #cdebbf;
    }

    /*
    .css_header_menu_cart_icon {
        position: absolute;
        right: 0;
    }
*/
}

@media only screen and (max-width: 699px) {
    header.css_header_mobile_open {
        height: 100vh;
    }

    header.css_header_mobile_open .css_header_burger_icon {
        order: 2;
    }

    header.css_header_mobile_open .css_header_logo {
        order: 1;
    }

    header.css_header_mobile_open .css_globalmenu {
        order: 3;
        width: 100%;
        display: block;
    }

    header.css_header_mobile_open .css_header_menu_cart_icon {
        order: 4;
    }

}

/********************FOOTER********************/

footer {
    display: flex;
    flex-wrap: wrap;
    color: var(--cta-primary-text-font-color);
    background-color: var(--cta-secondary-text-font-color-hover);
}


/*FOOTER COLUMN WRAPPER*/

.footerinfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px 40px;
    justify-content: space-between;
    place-content: center;
}

/*FOOTER COLUMN*/

.footercolumn {
    flex-basis: 460px;
    padding: 10px;
    width: inherit;
}

.footercolumn ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footercolumn li {
    padding: 5px;
}

.footer_title {
    color: var(--white);
}

.footer_link {
    text-decoration: none;
    color: var(--white);
    padding: 0;
}

.footer-menu .list__item {
    padding: 5px
}

.footer-menu .list__link,
.footer-menu .list__link.has-submenu {
    color: var(--white);
    padding: 0;
    font-size: var(--a-font-size);
    line-height: var(--a-font-line-height);
}

.footer-menu .list__link-arrow {
    stroke: var(--white);
}

/*SOCIAL MEDIA BOX*/

.socialmediabox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/*FOOTER SOCIALMEDIA LINK*/

.socialmediabox a {
    margin: 0;
}

.footersocialicon {
    display: flex;
    align-items: center;
}

/*
.footersocialicon:hover {
    border-radius: 50%;
    background-color: #3ea01a;
}*/

.socials_icon {
    height: 30px;
    width: auto;
    margin-bottom: 20px;
    margin-left: 5px;
}


/*NYHEDSBREV*/

.footer_nyhedsbrev {
    width: 180px;
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
}

.footer_nyhedsbrev_input {
    width: 180px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 10px solid white;
    margin-top: 10px;
}

.footer_nyhedsbrev_checkbox button {
    width: 180px;
    margin: 0 0;

}


/* Utilities */
.section-padding-bottom {
    padding-bottom: 9rem;
}

.section-margin-bottom {
    margin-bottom: 9rem;
}
