.send-message {
    display: flex;
    flex-direction: column;
}



.send-message__form-group {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.send-message__form-group > label {
    margin-bottom: 1rem;
    font-size: var(--h6-font-size);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.send-message textarea {
    min-height: 200px;
    font-size: var(--a-font-size);
    padding: 1rem;
    border: none;
}

.send-message input {
    padding: 1.5rem 1rem;
    font-size: var(--a-font-size);
    border: none;
    border-radius: 2px;
}

.send-message .cta-primary {
    margin: 3rem 0 0 0;
    font-size: 2.4rem;
}

.message-box {
    padding: 4rem;
    background-color: var(--red-color);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16rem;
    position: relative;
}

.box-grid {
    display: flex;
    flex-direction: column;
}

.splash-box__image {
    max-width: none;
    width: 100%;
    object-fit: cover;
}
