img {
    width: 100%;
}

.about_content {
    margin: var(--space-xl) auto 0 auto;
}

.heading-margin {
    margin: 0 0 20px 10px;
}

.box-size {
    width: 90%;
    /*    max-width: 20%;*/
    padding: 30px;
    position: relative;
}

.box-size_green {
    width: 100%;
    /*    max-width: 20%;*/
    padding: 30px 0;
    position: relative;
}

/*
.zindex {
    z-index: 0;
}
*/

/*
.box-size_green h2 {
    padding: 0 30px;
}
*/

.left {
    margin-left: auto;
}

.right {
    margin-right: auto;
}

.rightmini {
    margin-left: auto;
}

.middle {
    margin: 0 auto;
}

.red {
    background-color: var(--red-color);
}

.blue {
    background-color: var(--blue-color);
}

.green {
    background-color: var(--green-color);

    z-index: 2;
}

.yellow {
    background-color: var(--yellow-color);
}

.flytmigbund {
    margin-bottom: -80px;
}

.flytmigtop {
    margin-top: -40px;
}

.ned {
    margin-bottom: -10px;
}

.ned2 {
    margin-bottom: 0px;
}

.wp-block-group:nth-of-type(3) {
    margin-top: 50px;
    margin-bottom: 30px;
}

.wp-block-group:nth-of-type(3),
.wp-block-group:nth-of-type(4) {
    margin-top: 50px;
}

/****** VIDEO *****/

.wp-block-video-container {
    position: relative;
}

.wp-block-video-overlay {
    position: absolute;
    background-color: rgba(126, 93, 134, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.wp-block-video-button {
    height: 66px;
    width: 66px;
    background-color: var(--cta-primary-background-color);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-block-video-icon {
    height: 38px;
    width: 38px;
    margin-left: 5px;
}

.is-hidden {
    display: none;
}

/****** VIDEO *****/
.blue .wp-block-image {
    width: 130px;
    margin: 0 auto;
}

.wp-block-quote {
    display: flex;
    align-items: flex-start;
}

.quote-marks {
    font-size: 8rem;
    margin-top: 14px;
}

.navn {
    font-weight: 400;
    font-size: 1.5rem;
}

@media only screen and (min-width: 420px) {
    .ned2 {
        /* margin-bottom: -10px; */
    }

    .box-size {
        width: 75%;
        padding: 40px;
    }
}

@media only screen and (min-width: 600px) {
    .wp-block-video-button {
        height: 96px;
        width: 96px;
    }

    .wp-block-video-icon {
        height: 48px;
        width: 48px;
        margin-left: 5px;
    }
}

@media only screen and (min-width: 750px) {

    .flytmigbund {
        margin-bottom: 0px;
    }

    .flytmigtop {
        margin-top: 0px;
    }

    .box-size {
        padding: 100px;
    }

    .box-sizemini {
        width: 550px;
    }

    .box-size_green {
        padding: 30px;
    }

    .wp-block-group {
        margin-top: 150px;
    }

    .heading-margin {
        margin: 0 0 20px 10px;
    }

    .wp-block-group__inner-container {
        display: flex;
    }

    .wp-block-group:nth-of-type(3) .wp-block-group__inner-container {
        display: block;
    }

    .heading-width,
    .wp-block-group:nth-of-type(1),
    .wp-block-group:nth-of-type(2),
    .wp-block-group:nth-of-type(3) {
        max-width: 1000px;
        margin: 0 auto;
    }

    .heading-margin {
        padding: 0 0 20px 25px;
    }

    .wp-block-group:nth-of-type(2),
    .wp-block-group:nth-of-type(3) {
        margin: 150px auto;
    }

    .wp-block-group:nth-of-type(1) {
        margin: 30px auto 150px auto;
    }

    .wp-block-group:nth-of-type(2) .wp-block-group__inner-container {
        flex-direction: row-reverse;
    }

    .halv-om-halv {
        flex-grow: 1;
        flex-basis: 300px;
    }

    .box-hojde {
        height: 50%;
        align-self: center;
    }

    .left {
        margin-left: -80px;
    }

    .leftmini {
        margin-left: 60px;
        /* margin-top: -30px; */
    }

    .right {
        margin-right: -80px;
    }

    .wp-block-group:nth-of-type(4) .wp-block-group__inner-container div p {
        max-width: 370px;
        flex-grow: 0;
    }

    .wp-block-group:nth-of-type(4) .wp-block-group__inner-container div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }

    .quote-marks {
        font-size: 10rem;
        margin-top: 14px;
    }

    .ned2 {
        /* margin-bottom: -30px; */
    }

    .navn {
        font-size: 1.7rem;
    }
}

.wp-block-group .wp-block-group__inner-container figure {
    display: flex;
}

.wp-block-group .wp-block-group__inner-container img {
    object-fit: cover;
    object-position: right;
}

.wp-block-video {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.js-block-video {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: var(--font-family-playfair);
    font-weight: var(--font-weight-regular);
    font-size: var(--h2-font-size);
    line-height: var(--h1-font-line-height);
    color: var(--h2-font-color);
    margin-bottom: 10px;
}
