input {
    padding: var(--cta-primary-padding);
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0px 20px 0px;
    /*    box-shadow: var(--cta-primary-box-shadow);*/
    border-radius: var(--cta-primary-border-radius);
    font-family: var(--font-family-roboto);
}

.product {
    margin-top: 4rem;
}

.product__title {}

.product-description,
.product-information {
    margin-top: 3rem;
}

.product-description {
    background-color: var(--green-color);
    padding: 3rem;
}

.recommended-products-slider__title {
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 40px 0;
}

.js-product-container {
    margin: 2rem;
    max-width: 1050px;
    margin: 0 auto;
    padding: 3rem;
}


/* similar-products slider */
.similar-products-slider {
    background-color: #fff;
    padding: 2rem 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

.similar-products-slider__title {
    /*    padding: 0 var(--space-md);*/
    margin-bottom: 1rem;
}

.similar-products-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
}

.similar-products-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: var(--space-md);
    flex-grow: 1;
    scroll-snap-align: start;
    flex-wrap: wrap;
    flex-basis: 0;
}

.similar-products-list__link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.similar-products-list__item:last-child {
    padding-right: var(--space-md);
}

.similar-products-list__icon-container {
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    padding: 0.var(--space-md);
    margin-bottom: 0.5rem;
    max-height: 142px;
    max-width: 142px;
    margin-left: auto;
    margin-right: auto;
}

.similar-products-list__icon {
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: top;
    max-width: none;
    /*    background-color: var(--red-color);*/
    /*    border-radius: 50%;*/
    padding: 1rem;
}

.similar-products-list__similar-products-title {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--h6-font-size);
}

/*** Vælg farve ****/

.product-colors {
    display: flex;
    flex-direction: row;
}



.product-colors__list {
    list-style: none;
    display: flex;
    flex-direction: row;

    margin-top: 4px;
    margin-left: 5px;
}



.product-colors__color {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--cta-primary-background-color);
    box-shadow: 1px 1px 5px rgba(140, 140, 140, 0.5);

    cursor: pointer;
}

.product-colors__title {
    margin-top: 3px;
}

.product-colors__color:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.product-colors__color:active {
    border: 1.5px solid #fff;
    background-color: red;
}

.product-colors__color:nth-of-type(1) {
    background-color: var(--red-color);
}



.product-colors__color:nth-of-type(2) {
    background-color: var(--blue-color);
}

.product-colors__color:nth-of-type(3) {
    background-color: var(--green-color);
}

.product-colors__color:nth-of-type(4) {
    background-color: var(--yellow-color);
}
/********************END similar$-products Slider ********************/

@media only screen and (min-width: 700px) {

    .product-description {
        margin-left: 3rem;
    }

    .column {
        display: flex;
        /*        flex-basis: 500px;*/
        /*        flex-grow: 1;*/
    }

    .product__image {
        max-width: 500px;
        /*        height: 100%;*/
        margin-right: 4rem;
        padding-left: 3rem;
        object-fit: contain;
        /*        margin: 0 auto;*/
    }

    .grow {
        flex-basis: 500px;
        flex-grow: 1;
    }

    /*    .product__image,*/
    .recommended-products-slider__title {
        max-width: 1400px;
        margin: 0 auto;
    }

    .similar-products-list__icon {
        height: 500px;
        width: 500px;
    }

}
