input {
    padding: var(--cta-primary-padding);
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0px 20px 0px;
    /*    box-shadow: var(--cta-primary-box-shadow);*/
    border-radius: var(--cta-primary-border-radius);
    font-family: var(--font-family-roboto);
}

.product {
    margin-top: 4rem;
}

.product__title {}

.product-description,
.product-information {
    margin-top: 3rem;
}

.product-description {
    background-color: var(--green-color);
    padding: 3rem;
}

.recommended-products-slider__title {
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 40px 0;
}

.js-product-container {
    margin: 2rem;
    max-width: 1050px;
    margin: 0 auto;
    padding: 3rem;
}


/* related-products slider */
.related-products-slider {
    background-color: #fff;
    background-color: #fff;
    width: 100%;
}

.related-products-slider__title {
    margin-bottom: 3rem;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.related-products-list-container {
    position: relative;
}

.related-products-list-container::before {
    content: '';
    width: var(--space-md);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    background-image: linear-gradient(to left, hsla(0, 0%, 100%, 0) 0, #fff);
}

.related-products-list-container::after {
    content: '';
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff);
    position: absolute;
    top: 0;
    right: 0;
    width: var(--space-md);
    display: block;
    height: 100%;
    z-index: 1;
}

.related-products-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
}

.related-products-list > .related-product:last-child::after {
    content: '';
    width: var(--space-md);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

.related-product {
    display: flex;
    flex-direction: column;
    padding-left: var(--space-md);
    flex-grow: 1;
    scroll-snap-align: start;
    flex-wrap: wrap;
    flex-basis: 0;
    /* flex-basis: 300px; */
    max-width: 330px;
}

.related-product__link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    /* flex-wrap: wrap; */
}

.related-product__price,
.related-product__category-link {
    max-width: 270px;
}

.related-product__link:hover .related-product__image {
    transform: scale(1.025);
}

.related-product:last-child {
    padding-right: var(--space-md);
    position: relative;
}

.related-product__image-container {
    width: 270px;
    padding-bottom: 270px;
    position: relative;
    /* flex-grow: 1; */
    /* flex-basis: 0; */
    overflow: hidden;
}

.related-product__image {
    max-width: none;
    position: absolute;
    transition: transform .25s ease-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;

    width: 100%;
    height: 100%;
}

.related-product__title {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--h6-font-size);
}

/*** Vælg farve ****/

.product-colors {
    display: flex;
    flex-direction: row;
}

.product-colors__list {
    list-style: none;
    display: flex;
    flex-direction: row;

    margin-top: 4px;
    margin-left: 5px;
}



.product-colors__color {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--cta-primary-background-color);
    box-shadow: 1px 1px 5px rgba(140, 140, 140, 0.5);
    cursor: pointer;
}

.product-colors__title {
    margin-top: 3px;
}

.product-colors__color:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.product-colors__color:active {
    border: 1.5px solid #fff;
    background-color: red;
}

.product-colors__color:nth-of-type(1) {
    background-color: var(--red-color);
}



.product-colors__color:nth-of-type(2) {
    background-color: var(--blue-color);
}

.product-colors__color:nth-of-type(3) {
    background-color: var(--green-color);
}

.product-colors__color:nth-of-type(4) {
    background-color: var(--yellow-color);
}

.product__button-group input {
    max-width: 80px;
}

.product__button-group .cta-primary {
    margin-right: 0;
}

/********************END similar$-products Slider ********************/

@media only screen and (min-width: 900px) {

    .column {
        display: flex;
        align-items: flex-start;


    }

    .product__image {
        max-width: 500px;
        /*        height: 100%;*/
        margin-right: 4rem;
        object-fit: contain;
        /*        margin: 0 auto;*/
    }

    .grow {
        flex-basis: 500px;
        flex-grow: 1;
    }

    /*    .product__image,*/
    .recommended-products-slider__title {
        max-width: 1400px;
        margin: 0 auto;
    }

    .related-products-list__icon {
        height: 500px;
        width: 500px;
    }

}
