/******************** Category Slider ********************/

/* Category slider */
.category-slider {
    background-color: #fff;
    padding: 2rem 0;
    width: 100%;
}

.category-slider__title {
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.category-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
}

.category-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 4rem;
    flex-grow: 1;
    scroll-snap-align: start;
    flex-wrap: wrap;
}

.category-list__link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.category-list__item:last-child {
    padding-right: 4rem;
}

.category-list__icon-container {
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    max-height: 112px;
    max-width: 112px;
    margin-left: auto;
    margin-right: auto;
}

.category-list__icon {
    height: 90px;
    width: 90px;
    max-width: none;
    background-color: var(--red-color);
    border-radius: 50%;
    padding: 1rem;
}

.category-list__category-title {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--h6-font-size);
}

/********************END Category Slider ********************/

/* Instagram slider */
.section-slider {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.instagram-slider {
    background-color: #fff;
    padding: 2rem 0;
    width: 100%;
}

.instagram-slider__title {
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.instagram-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
}

.instagram-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 2rem;
    flex-grow: 1;
    scroll-snap-align: start;
}

.instagram-list__link {
    text-decoration: none;
    color: #000;
}

/*

.instagram-list__link:hover > .instagram-list__icon-container {
    background-color: #e6e6e6;
}
*/

.instagram-list__item:last-child {
    padding-right: 2rem;
}

.instagram-list__icon-container {
    /*    border: 1px solid #e6e6e6;*/
    /*    border-radius: 50%;*/
    padding: 1rem;
    margin-bottom: 0.5rem;
    transition: background .25s ease-in-out;
}

.instagram-list__icon {
    height: 300px;

    max-width: none;
}

@media only screen and (min-width: 700px) {

    .instagram-list__icon {
        height: 500px;
    }
}
