/******************** Category Slider ********************/

/* Category slider */
.category-slider {
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.category-slider__title {
    padding: 0 3rem;
    margin-bottom: 1rem;
}

.category-list-container {
    position: relative;
}

.category-list-container::before {
    content: '';
    width: 3rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    background-image: linear-gradient(to left, hsla(0, 0%, 100%, 0) 0, #fff);
}

.category-list-container::after {
    content: '';
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff);
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    display: block;
    height: 100%;
    z-index: 1;
}

.category-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
    position: relative;
}

.category-list > .category-list__item:last-child::after {
    content: '';
    width: 3rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

.category-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 3rem;
    flex-grow: 1;
    scroll-snap-align: start;
    flex-wrap: wrap;
    flex-basis: 0;
}

.category-list__link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.category-list__item:last-child {
    padding-right: 3rem;
    position: relative;
}

.category-list__icon-container {
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    max-height: 142px;
    max-width: 142px;
    margin-left: auto;
    margin-right: auto;
}

.category-list__icon {
    height: 120px;
    width: 120px;
    max-width: none;
    background-color: var(--red-color);
    border-radius: 50%;
    padding: 1rem;
}

.category-list__category-title {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--h6-font-size);
}

/********************END Category Slider ********************/

/* Instagram slider */
.section-slider {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.instagram-slider {
    background-color: #fff;
    padding: 2rem 0;
    width: 100%;
}

.instagram-slider__title {
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.instagram-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
}

.instagram-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 2rem;
    flex-grow: 1;
    scroll-snap-align: start;
}

.instagram-list__link {
    text-decoration: none;
    color: #000;
}

/*

.instagram-list__link:hover > .instagram-list__icon-container {
    background-color: #e6e6e6;
}
*/

.instagram-list__item:last-child {
    padding-right: 2rem;
}

.instagram-list__icon-container {
    /*    border: 1px solid #e6e6e6;*/
    /*    border-radius: 50%;*/
    padding: 1rem;
    margin-bottom: 0.5rem;
    transition: background .25s ease-in-out;
}

.instagram-list__icon {
    height: 300px;

    max-width: none;
}

@media only screen and (min-width: 700px) {

    .instagram-list__icon {
        height: 500px;
    }
}

/******************** Category Slider ********************/

/* similar-products slider */
.similar-products-slider {
    background-color: #fff;
    padding: 2rem 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.similar-products-slider__title {
    padding: 0 3rem;
    margin-bottom: 1rem;
}

.similar-products-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
}

.similar-products-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 3rem;
    flex-grow: 1;
    scroll-snap-align: start;
    flex-wrap: wrap;
    flex-basis: 0;
}

.similar-products-list__link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.similar-products-list__item:last-child {
    padding-right: 3rem;
}

.similar-products-list__icon-container {
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    max-height: 142px;
    max-width: 142px;
    margin-left: auto;
    margin-right: auto;
}

.similar-products-list__icon {
    height: 120px;
    width: 120px;
    max-width: none;
    background-color: var(--red-color);
    border-radius: 50%;
    padding: 1rem;
}

.similar-products-list__similar-products-title {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--h6-font-size);
}

/********************END similar$-products Slider ********************/
