/******************** Category Slider ********************/

/* USP Slider */
.usp-slider {
    width: 100%;
    padding: var(--space-xl) 0;
}

.usp-slider__title {
    margin-bottom: var(--space-lg);
    text-align: center;
}

.usp-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
}

.usp-list__heading {
    font-family: var(--font-family-roboto);
    font-size: 1.8rem;
}

.usp-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.usp-list__item:nth-of-type(3),
.usp-list__item:nth-of-type(4) {
    margin-bottom: 0;
}

.usp-list__link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.usp-list__icon-container {
    border-radius: 50%;
    padding: 0.var(--space-md);
    margin-bottom: 1rem;
    max-height: 102px;
    max-width: 102px;
    margin-left: auto;
    margin-right: auto;
}

.usp-list__icon {
    height: 80px;
    width: 80px;
    max-width: none;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
}

.usp-list__usp-title {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--h6-font-size);
}

.usp-list__heading {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--h6-font-size);
}

@media (min-width: 342px) {
    .usp-list {
        flex-direction: row;
    }

    .usp-list__item {
        flex-basis: 50%;
    }
}

@media (min-width: 640px) {
    .usp-list__item {
        flex-basis: 25%;
    }
}

@media (min-width: 900px) {
    .usp-list__icon-container {
        max-width: 162px;
        max-height: 162px;
    }

    .usp-list__icon {
        height: 140px;
        width: 140px;
    }

}


/* Category slider */
.category-slider {
    background-color: #fff;
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.category-slider__title {
    padding: 0 var(--space-md);
    margin-bottom: 3rem;
}

.category-list-container {
    position: relative;
}

.category-list-container::before {
    content: '';
    width: var(--space-md);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    background-image: linear-gradient(to left, hsla(0, 0%, 100%, 0) 0, #fff);
}

.category-list-container::after {
    content: '';
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff);
    position: absolute;
    top: 0;
    right: 0;
    width: var(--space-md);
    display: block;
    height: 100%;
    z-index: 1;
}

.category-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
}

.category-list > .category-list__item:last-child::after {
    content: '';
    width: var(--space-md);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
}

.category-list__item {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: var(--space-md);
    flex-grow: 1;
    scroll-snap-align: start;
    flex-wrap: wrap;
    flex-basis: 0;
}

.category-list__link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.category-list__item:last-child {
    padding-right: var(--space-md);
    position: relative;
}

.category-list__icon-container {
    border-radius: 50%;
    padding: 0.var(--space-md);
    margin-bottom: 0.5rem;
    max-height: 142px;
    max-width: 142px;
    margin-left: auto;
    margin-right: auto;
}

.category-list__icon {
    height: 120px;
    width: 120px;
    max-width: none;
    background-color: var(--red-color);
    border-radius: 50%;
    padding: 1rem;
    border: 5px solid #fff;
    transition: transform .25s ease-out;
    box-shadow: 1px 1px 5px rgba(155, 155, 155, 0.3);
}

.category-list__icon:hover {

    transform: scale(1.06);
    transition: 0.2s;
}

.category-list__icon:active {
    background-color: var(--blue-color);
    transform: scale(1.07);
}

.category-list__category-title {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-light);
    font-size: var(--h6-font-size);
}

/********************END Category Slider ********************/

/* Instagram slider */
.section-slider {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.instagram-slider {
    background-color: #fff;
    width: 100%;
}

.instagram-slider__title {
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.instagram-list {
    display: flex;
    list-style: none;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.instagram-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: var(--space-md);
    flex-grow: 1;
    scroll-snap-align: start;
}

.instagram-list__link {
    text-decoration: none;
    color: #000;
}

/*

.instagram-list__link:hover > .instagram-list__icon-container {
    background-color: #e6e6e6;
}
*/

.instagram-list__item:last-child {
    padding-right: var(--space-md);
}

.instagram-list__icon-container {
    /*    border: 1px solid #e6e6e6;*/
    /*    border-radius: 50%;*/
    transition: background .25s ease-in-out;
}

.instagram-list__icon {
    height: 300px;

    max-width: none;
}

/*
@media only screen and (min-width: 700px) {

    .instagram-list__icon {
        height: 500px;
    }
}
*/

/******************** Category Slider ********************/
